flows.json
[
    {"id":"11383ef1854a99fe","type":"group","z":"b3a49908b4a5e15c","name":"Primrose Procare Media Grabber","style":{"label":true,"color":"#000000","fill":"#ffffbf","fill-opacity":"0.59"},"nodes":["be5062ba494c2a7d","ede4098ee637a48f","329315fed93e6f8f","8a872c4d869fe441","06201efa47ebb608","22b8111a8cb8a689","25ef22f4b13f438f","64d93491095ee3e6","93355c2217317137","808f79c7cf3aa34e","4bebe37d494f570c","7830a97c3cd19c08","48866303637319fe","a2586621dd8faf2d","f5efe7286d7d75d8","e55bbafb5aa32234","f975fd699d72dd8b","7cd6dc1e9cec9dfd","969559cc3d55f19f","1a862f6616643025","b987153850814ddb"],"x":74,"y":639,"w":1432,"h":342},
    {"id":"be5062ba494c2a7d","type":"inject","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"Every 1 Minute","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":"5","topic":"","x":200,"y":680,"wires":[["b987153850814ddb"]]},
    {"id":"ede4098ee637a48f","type":"function","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"api/web/auth","func":"msg.uri = \"https://api-school.primrose.procareconnect.com\"\nmsg.route = \"api/web/auth/\";\nmsg.url = `${msg.uri}/${msg.route}`;\n\nmsg.payload = {\n    \"email\": \"your@email.com\",\n    \"password\": \"yourpassword\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":680,"wires":[["329315fed93e6f8f"]]},
    {"id":"329315fed93e6f8f","type":"http request","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"POST JSON","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":690,"y":680,"wires":[["8a872c4d869fe441"]]},
    {"id":"8a872c4d869fe441","type":"function","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"api/web/parent/kids","func":"const headers = {\n    \"Authorization\": `Bearer ${msg.payload.user.auth_token}`,\n    \"Content-Type\": \"application/json\"\n}\nmsg.headers = headers;\nmsg.authHeaders = headers;\nmsg.route = \"api/web/parent/kids/\";\nmsg.url = `${msg.uri}/${msg.route}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":760,"wires":[["06201efa47ebb608"]]},
    {"id":"06201efa47ebb608","type":"http request","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"GET JSON","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":690,"y":760,"wires":[["22b8111a8cb8a689"]]},
    {"id":"22b8111a8cb8a689","type":"function","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"api/web/parent/daily_activities","func":"const messages = [];\nconst lookbackDays = 3;\n\nvar today = new Date();\nvar startDate = new Date(today);\nstartDate.setDate(startDate.getDate() - lookbackDays);\n\ntoday = today.toISOString().split(\"T\")[0];\nstartDate = startDate.toISOString().split(\"T\")[0];\n\nmsg.payload.kids.forEach(function(kid) {\n    let kidId = kid.id\n\n    messages.push(\n        {\n            \"authHeaders\": msg.authHeaders,\n            \"headers\": msg.authHeaders,\n            \"uri\": msg.uri,\n            \"url\": `${msg.uri}/api/web/parent/daily_activities/?kid_id=${kidId}&filters[daily_activity][date_from]=${startDate}&filters[daily_activity][date_to]=${today}&page=1&per_page=50`\n        }\n    )\n});\n\nreturn [messages];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":840,"wires":[["25ef22f4b13f438f"]]},
    {"id":"25ef22f4b13f438f","type":"http request","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"GET JSON","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":690,"y":840,"wires":[["64d93491095ee3e6"]]},
    {"id":"64d93491095ee3e6","type":"function","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"gather photos and videos","func":"const media = [];\n\nmsg.payload.daily_activities.forEach(function(activity) {\n    if (activity?.activiable?.video_file_url ?? \"\" !== \"\") {\n        let caption = activity.activiable.caption;\n        if (caption.length < 2) { caption = \"New Daycare Video 👦\"; }\n        let filename = `${activity.id}.mp4`;\n        let fullpath = `/share/procare/api/${filename}`;\n        if ( !fs.existsSync(fullpath) ) {\n\n            const date = new Date(activity.activity_time);\n\n            const year = date.getFullYear();\n            const month = String(date.getMonth() + 1).padStart(2, '0');\n            const day = String(date.getDate()).padStart(2, '0');\n            const hours = String(date.getHours()).padStart(2, '0');\n            const minutes = String(date.getMinutes()).padStart(2, '0');\n            const seconds = String(date.getSeconds()).padStart(2, '0');\n\n            const exifDateTimeOriginal = `${year}:${month}:${day} ${hours}:${minutes}:${seconds}`;\n\n            media.push(\n                {\n                    \"type\": \"video\",\n                    \"url\": activity.activiable.video_file_url,\n                    \"caption\": caption,\n                    \"timestamp\": activity.activity_time,\n                    \"filename\": filename,\n                    \"filepath\": \"/share/procare/api\",\n                    \"fullpath\": fullpath,\n                    \"exif\": {\n                        \"DateTimeOriginal\": exifDateTimeOriginal\n                    }\n                }\n            );\n        }\n    } else if (activity?.photo_url ?? null) {\n        let caption = activity.comment;\n        if (caption.length < 2) { caption = \"New Daycare Picture 👦\"; }\n        let filename = `${activity.id}.jpg`;\n        let fullpath = `/share/procare/api/${filename}`;\n        if (!fs.existsSync(fullpath)) {\n\n            const date = new Date(activity.activity_time);\n\n            const year = date.getFullYear();\n            const month = String(date.getMonth() + 1).padStart(2, '0');\n            const day = String(date.getDate()).padStart(2, '0');\n            const hours = String(date.getHours()).padStart(2, '0');\n            const minutes = String(date.getMinutes()).padStart(2, '0');\n            const seconds = String(date.getSeconds()).padStart(2, '0');\n\n            const exifDateTimeOriginal = `${year}:${month}:${day} ${hours}:${minutes}:${seconds}`;\n\n\n            media.push(\n                {\n                    \"type\": \"photo\",\n                    \"url\": activity.photo_url,\n                    \"caption\": caption,\n                    \"timestamp\": activity.activity_time,\n                    \"filename\": filename,\n                    \"filepath\": \"/share/procare/api\",\n                    \"fullpath\": fullpath,\n                    \"exif\": {\n                        \"DateTimeOriginal\": exifDateTimeOriginal\n                    }\n                }\n            );\n        }\n    }\n});\nreturn [media];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"}],"x":470,"y":920,"wires":[["93355c2217317137"]]},
    {"id":"93355c2217317137","type":"http request","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"GET Buffer","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":690,"y":920,"wires":[["808f79c7cf3aa34e","4bebe37d494f570c"]]},
    {"id":"808f79c7cf3aa34e","type":"base64","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"to Base64","action":"","property":"payload","x":910,"y":880,"wires":[["969559cc3d55f19f"]]},
    {"id":"4bebe37d494f570c","type":"file","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"Save to /share/procare/api/*","filename":"fullpath","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":960,"y":940,"wires":[["7830a97c3cd19c08"]]},
    {"id":"7830a97c3cd19c08","type":"write-exif","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","image":"fullpath","imageType":"msg","exif":"exif","exifType":"msg","deleteOriginal":true,"x":1160,"y":940,"wires":[[]]},
    {"id":"48866303637319fe","type":"inject","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"inject","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":910,"y":740,"wires":[["f5efe7286d7d75d8"]]},
    {"id":"a2586621dd8faf2d","type":"inject","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"inject","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":910,"y":780,"wires":[["e55bbafb5aa32234"]]},
    {"id":"f5efe7286d7d75d8","type":"function","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"Trust Phone Numbers","func":"const messages = [];\n\nconst recipients = [];\nrecipients.push(\"+15555555550\")  //John\nrecipients.push(\"+15555555551\")  //James\nrecipients.push(\"+15555555552\")  //Jeremy\nrecipients.push(\"+15555555553\")  //Jenny\nrecipients.push(\"+15555555554\")  //Jackie\nrecipients.push(\"+15555555555\")  //Jordan\nrecipients.push(\"+15555555556\")  //Jared\nrecipients.push(\"+15555555557\")  //Jack\n\nrecipients.forEach(function(numberToTrust) {\n    messages.push(\n        {\n            \"url\": `10.10.10.10:3210/v1/identities/+16666666666/trust/${numberToTrust}`,\n            \"payload\": {\n                \"trust_all_known_keys\": true\n            }\n        }\n    );\n});\n\nreturn [messages];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":740,"wires":[["f975fd699d72dd8b"]]},
    {"id":"e55bbafb5aa32234","type":"function","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"Hello World","func":"const recipients = []\n//recipients.push(\"+15555555550\")  //John\n//recipients.push(\"+15555555551\")  //James\n//recipients.push(\"+15555555552\")  //Jeremy\n//recipients.push(\"+15555555553\")  //Jenny\n//recipients.push(\"+15555555554\")  //Jackie\nrecipients.push(\"+15555555555\")  //Jordan\n//recipients.push(\"+15555555556\")  //Jared\n//recipients.push(\"+15555555557\")  //Jack\n\nmsg.payload = {\n    \"message\": \"Hello World!\",\n    \"number\": \"+16666666666\",\n    \"recipients\": recipients\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":780,"wires":[["7cd6dc1e9cec9dfd"]]},
    {"id":"f975fd699d72dd8b","type":"http request","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"Signal PUT","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1310,"y":740,"wires":[[]]},
    {"id":"7cd6dc1e9cec9dfd","type":"http request","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"Signal POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"10.10.10.10:3210/v2/send","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1310,"y":780,"wires":[[]]},
    {"id":"969559cc3d55f19f","type":"function","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"Prepare SIgnal Message - Daycare Media","func":"var recipients = []\nrecipients.push(\"+15555555550\")  //John\nrecipients.push(\"+15555555551\")  //James\nrecipients.push(\"+15555555552\")  //Jeremy\nrecipients.push(\"+15555555553\")  //Jenny\nrecipients.push(\"+15555555554\")  //Jackie\nrecipients.push(\"+15555555555\")  //Jordan\nrecipients.push(\"+15555555556\")  //Jared\nrecipients.push(\"+15555555557\")  //Jack\n\nconst base64ref = msg.payload;\n\nmsg.payload = {\n    \"message\": msg.caption,\n    \"base64_attachments\": [base64ref],\n    \"number\": \"+16666666666\",\n    \"recipients\": recipients\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":880,"wires":[["1a862f6616643025"]]},
    {"id":"1a862f6616643025","type":"http request","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"Signal POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"10.10.10.10:3210/v2/send","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1410,"y":880,"wires":[[]]},
    {"id":"b987153850814ddb","type":"time-range-switch","z":"b3a49908b4a5e15c","g":"11383ef1854a99fe","name":"7a to 6p","lat":"","lon":"","startTime":"07:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":360,"y":680,"wires":[["ede4098ee637a48f"],[]]}
]